<!DOCTYPE html>
<html>

<head>
    <title>Rango</title>
</head>

<body>
    <div>
        <a href="/rango/">Back</a> <!-- Link to index page -->
    </div>

    <div>
        {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            <!-- use this way of hyperlinking, it's better than hardcoding the path -->
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}
        <a href="/rango/category/{{ category.slug }}/add_page/">Add Page</a> <br />
        {% else %}
        The specified category does not exist.
        {% endif %}
    </div>
</body>

</html>